.nav-items{
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    background-color:rgb(175, 129, 189); 
    align-items: center;
  }
  
  .nav-items a{
    text-decoration: none;
    color: black;
  }
  
  #user-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }