#masItem{
    text-align:center;
}
#menosItem{
  text-align:center;
}
.btn {
  display: inline-block;
  width: 100px;
  height: 50px;
}
#count {
  display: inline-block;
  margin-left: 10px;
}
#addItemCart{
  margin-left: 2px;
}
.product-card{
  text-align: center;
}